.form {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
}

label {
    margin-right: 8px;
}

input {
    width: 272px;
    height: 40px;
    border: 1px solid #808080;
    border-radius: 4px;
    padding: 8px 16px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #808080;

}

input:hover {
    border: 1px solid black;
}

input:active, input:focus {
    border: 1px solid #4e75ff;
    color: #2e2f42;
}

button {
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4e75ff;
    border-radius: 8px;
    padding: 8px 16px;
    width: 91px;
    height: 40px;

    display: flex;
    justify-content: center;
}

button:hover {
    background-color: #6c8cff;
}

.load-more {
    margin-top: 32px;
    width: 125px;
    height: 40px;
}
