.gallery {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: center;
    max-width: 1128px;
    gap: 24px;
}

.gallery-item {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 360px;
    max-height: 200px;
    border: 1px solid #808080;
}

.gallery-link {
    display: flex;
    margin: 0;
    padding: 0;
    height: 152px;
}

.gallery-image {
    width: 360px;
    height: 152px;
    object-fit: cover;
}

.stats {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 360px;
    height: 48px;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.stat-name {
    font-weight: 600;
}

.stat-number {
    font-weight: 400;
}

